/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2017, 11:56:27 PM
    Author     : Andreea
*/

.float_right {
    padding-right: 300px;
}

.tourism_h3{
    margin-left: 400;
}
.dimension_photos{
    width: 275px;
    height: 183px;
}
.floating-box {
    float: left;
    width: 150px;
    height: 75px;
    margin: 0 10% 0 10%;
    border: 3px solid #73AD21;  
}
.ul_offers {
    list-style-type: none;

}


#smth{
    position:absolute;
    float: left;
    margin-left: 10%;
}
.li_offer_ul{
    position: relative;
}


body{
    /*     background-image: url(../Photos/background.jpg);*/
    /*    background: url(../Photos/background.jpg) no-repeat center center ; */
    background-color: #f5f5f0;
    background-position: initial;
}

